.resume_button{
    font-size: larger;
    color:beige;
    background-color:#1E88E5;
    font-weight: bold;
    border-radius: 50px;
    padding: 10px;
    transition: 0.15s;
    text-decoration:solid;
    
}
.resume_button:hover{
    transform: translateY(-10px)scale(1.02);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    opacity: 1;
}
